body{
 background-color: rgb(52, 15, 64);
 background-attachment: fixed;
 background-image: url(img/imagem2.jpg);
}

label, input, select, textarea{
    display: block ;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
}
.roboto-thin {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 form{
    width: 550px;
    margin: auto;
    background: #962edb;
    padding: 40px;
    border-radius: 10px;
    color: rgb(210, 185, 225);
 }
 label{
    padding: 0;
    margin: 0;
    width: 100% ;
    font-size: 18px;
 }
 .emlinha{
    display: inline;
    width: 10%;
    font-size: 16px;
 }
 .medidas{
    display: inline;
    width: 35%;
 }
 input[type='checkbox'], input[type='radio']{
   margin-right: 0px;
   margin-left: 15px;
}
input:focus, select:focus, textarea:focus{
   outline: none;
   border: solid 1px #e1d6e9;
}
 #enviar{
   width: 100%;
   border: 2px solid #63108d;
   background-color: #ffffff;
   color: #861ad3;
   font-weight: bold;
   cursor: pointer;
   padding: 15px;
 }
 #enviar:hover{
  background-color: #6313be;
  color: #ffffff;
transition:all linear 0.3;
 }

button{
   text-align: center;
}
